[packages]
invoke = "*"
docstamp = ">=0.3.5"
gspread = ">=0.3.0"
oauth2client = ">=1.5.2"
pypdf2 = "==1.26.0"
svgutils = "==0.2.0"
qrcode = "==5.3"
jupyter = "*"
request = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"

[dev-packages]
flake8 = "*"
pdbpp = "*"
pre-commit = "*"
