[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true

[packages]

invoke = "*"
docstamp = ">=0.3.1"
pandas = ">=0.17.1"
gspread = ">=0.3.0"
oauth2client = ">=1.5.2"
pypdf2 = "==1.26.0"
svgutils = "==0.2.0"
qrcode = "==5.3"
jupyter = "*"

[dev-packages]
better-exceptions = "*"
flake8 = "*"
pdbpp = "*"
pre-commit = "*"
black = "*"
